<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

</head>
<body>
    <h1>Search For Book </h1>
    <form method="POST" th:action="@{/process/searchBook}" >
    <table>
        <tr>
           <td>Search by name: </td>
           <td>
            <input type="text" name ="name">
           </td>
          
        </tr>
    </table>
 <button type="submit"> submit</button>
</form>
    
</body>
</html>